<!-- app/views/welcome/index.html.erb -->

<br/>
<div class="jumbotron">
  <h1>Sports Haven</h1>
  <p>The Ulitmate Shit Talking Forum...Fuck Facebook</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Talk Shit to Forest</h2>
    <p id = "forest">Make sure you ridicule his crappy team and lack of fantasy skills.</p>
  </div>
  <div class="col-md-4">
    <h2>Divide and Conquer</h2>
    <p>Separate topics of discussion and keep them forever. </p>
  </div>
  <div class="col-md-4">
    <h2>Who has the best comments?</h2>
    <p>Vote on which comments are the funniest.  The cream always rises to the top.</p>
  </div>
</div>