/* app/assets/stylesheets/application.css.scss */

@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  color: #333;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}



body {
margin: 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 20px;
color: #333;
background-color: #B2ECDC;
}